<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="description" content="Get Started with Frontend development" />
	<title>Learn Frontend</title>
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}">
	<link rel="stylesheet" href="{{ '/css/prism.css' | url }}">

</head>

<body>
	<a href="#main-content" class="skip-to-main-content">Skip to main Content</a>
	<header class="main-header">

		<a href="{{ '/' | url }}" class="main-title-link">
			{% if page.fileSlug == '' %}
			<h1 class="main-title">
				{% else %}
				<h2 class="main-title">
					{% endif %}

					Learn<span style="color: white;background: black;padding: 0 10px;display:inline-block;">Frontend</span>.dev
					{% if page.fileSlug == '' %}</h1>{% else %}</h2>{% endif %}

		</a>
	</header>

	<main class="main-content" id="main-content">
		{{content}}
	</main>

	<aside class="site-aside">
		<a href="{{ '/learn/' | url }}">Learn</a>
		<span aria-hidden="true">▸</span>
		<a href="{{ '/resources/' | url }}">Resources</a>
	</aside>

	<footer class="site-footer">
		Copyright 2019 LearnFrontend.dev<br>
		<a href="https://twitter.com/learn__frontend" rel="external">
			Twitter
		</a>
		<span aria-hidden="true">▸</span>

		<!-- <a href="{{ '/about/' | url }}">About</a> -->
		<a href="https://github.com/learn-frontend-dev/website" rel="external">Source</a>
	</footer>
	<script type="module" src="/js/main.js"></script>
</body>

</html>