---
layout: default
---

<article>
  <h1 class="post-title">{{ title }}</h1>
  <!-- <time datetime="{{ page.date | htmlDateString }}" class="post-meta">🗓 {{ page.date | date: "%B %d, %Y" }}</time> -->

  <div class="post-meta">⏳ {{ readTime }} read</div>

  <div class="post-content">{{ content | safe }}</div>
</article>

<div class="content-container">
  {% if next %}
  <div style="display:flex;justify-content: flex-end">
    <a rel="next" href="{{ next.url | url }}">{{ next.label }} 👉🏼</a>
  </div>
  {% endif %}
</div>